{% if example.summary -%}
**Summary:** {{ example.summary }}
{% endif %}

{% if example.description -%}
**Description:** {{ example.description }}
{% endif %}

**Value:**
```json
{{ example.value | tojson(indent=2) }}
```
{% endif %}